
header{background-color: red;
	width: 100%;
	height: 100px;
}
#contenth{
	height: 100%;
	display: flex;
}
.header_left {
	width: 50%;
	padding: 10px;
}
.header_right {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.header_right  a {
	text-decoration: none;
	color: white;
	padding: 2px;
	border-radius: 4px;
}
.header_right  nav {
	padding-top: 0px;
}
section{
	display: flex;
	background: black;
	color: white;
}
.section_one{
	width: 20%;
	height: 640px;
	border: solid red;
}
.section_two{
	width: 80%;
	height: 640px;
	display: flex;
	padding: 40px 20px  0px 20px;
	box-sizing: border-box;
	
}
.section_one_one{
	padding: 20px;
	box-sizing: border-box;
	height: 10%;
	margin-right: 7px;	
}
.section_one_two ul{
	margin: 0px;
	padding: 0px;
}
.section_one_two {
	padding-left:20px;
	height: 20%;
	margin-right: 7px;
	box-sizing: border-box;
	border: solid red;

}
.section_one_two ul li {
	list-style: none;
}
.section_one_two a {
	text-decoration: none;
	color: blue;
}
.section_one_tree{
	height: 70%;
	margin-right: 7px;
	box-sizing: border-box;

}
.section_two_one{
	width: 40%;
	height: 100%;
	margin-right: 20px;

}
.section_two_two{
	width: 60%;
	height: 100%;
}
.section_two_one1{
	height: 180px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: solid red;
}
.section_two_one1 h2{
	margin-top: 0px;
	background: red;
	text-align: left;
}
.section_two_one2{
	height: 80px;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: solid red;
}
.section_two_one2 h2{
	margin-top: 0px;
	background: red;
	text-align: left;
}
.section_two_one3{
	height: 80px;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: solid red;
}
.section_two_one3 h2{
	margin-top: 0px;
	background: red;
	text-align: left;
}
.section_two_one4{
	height: 232px;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: solid red;
}
.section_two_one4 h2{
	margin-top: 0px;
	background: red;
	text-align: left;
}
.section_two_one4 h2{
	margin-top: 0px;
	text-align: left;
}
.section_two_two {
	padding: 0px;
	border: solid red;
}
.section_two_two h2 {
	margin-top: 0px;
	background: red;
	text-align: left;
	padding: 0px;
}
.section_two_two ul{
	padding-left: 0px;
	list-style: none;
}


